/* stylelint-disable */
:root {
    --atlas-layout-guide-column: var(--atlas-grid-column-count-xs);
    --atlas-layout-guide-gutter: var(--atlas-grid-gutter-xs);
    --atlas-layout-guide-margin: var(--atlas-grid-margin-xs);
    --atlas-layout-guide-screen-size: var(--atlas-grid-breakpoint-xs);
    --atlas-layout-guide-width: var(--atlas-grid-column-width-xs);
    --atlas-typescale-body-lg-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-body-lg-paragraph-spacing: var(--atlas-font-paragraph-spacing-300);
    --atlas-typescale-body-lg-size: var(--atlas-font-size-200);
    --atlas-typescale-body-lg-weight-default: var(--atlas-font-weight-400);
    --atlas-typescale-body-lg-weight-emphasis: var(--atlas-font-weight-400-italic);
    --atlas-typescale-body-lg-weight-strong: var(--atlas-font-weight-700);
    --atlas-typescale-body-lg-weight-strong-emphasis: var(--atlas-font-weight-700-italic);
    --atlas-typescale-body-md-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-body-md-paragraph-spacing: var(--atlas-font-paragraph-spacing-200);
    --atlas-typescale-body-md-size: var(--atlas-font-size-175);
    --atlas-typescale-body-md-weight-default: var(--atlas-font-weight-400);
    --atlas-typescale-body-md-weight-emphasis: var(--atlas-font-weight-400-italic);
    --atlas-typescale-body-md-weight-strong: var(--atlas-font-weight-700);
    --atlas-typescale-body-md-weight-strong-emphasis: var(--atlas-font-weight-700-italic);
    --atlas-typescale-body-sm-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-body-sm-paragraph-spacing: var(--atlas-font-paragraph-spacing-100);
    --atlas-typescale-body-sm-size: var(--atlas-font-size-150);
    --atlas-typescale-body-sm-weight-default: var(--atlas-font-weight-400);
    --atlas-typescale-body-sm-weight-emphasis: var(--atlas-font-weight-400-italic);
    --atlas-typescale-body-sm-weight-strong: var(--atlas-font-weight-700);
    --atlas-typescale-body-sm-weight-strong-emphasis: var(--atlas-font-weight-700-italic);
    --atlas-typescale-body-xs-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-body-xs-paragraph-spacing: var(--atlas-font-paragraph-spacing-100);
    --atlas-typescale-body-xs-size: var(--atlas-font-size-150);
    --atlas-typescale-body-xs-weight-default: var(--atlas-font-weight-400);
    --atlas-typescale-body-xs-weight-emphasis: var(--atlas-font-weight-400-italic);
    --atlas-typescale-body-xs-weight-strong: var(--atlas-font-weight-700);
    --atlas-typescale-body-xs-weight-strong-emphasis: var(--atlas-font-weight-700-italic);
    --atlas-typescale-caption-md-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-caption-md-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-caption-md-size: var(--atlas-font-size-150);
    --atlas-typescale-caption-md-weight: var(--atlas-font-weight-600);
    --atlas-typescale-caption-sm-letter-spacing: var(--atlas-font-letter-spacing-100);
    --atlas-typescale-caption-sm-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-caption-sm-size: var(--atlas-font-size-125);
    --atlas-typescale-caption-sm-weight: var(--atlas-font-weight-600);
    --atlas-typescale-display-1-letter-spacing: var(--atlas-font-letter-spacing-neg300);
    --atlas-typescale-display-1-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-display-1-size: var(--atlas-font-size-800);
    --atlas-typescale-display-1-weight: var(--atlas-font-weight-300);
    --atlas-typescale-display-2-letter-spacing: var(--atlas-font-letter-spacing-neg200);
    --atlas-typescale-display-2-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-display-2-size: var(--atlas-font-size-700);
    --atlas-typescale-display-2-weight: var(--atlas-font-weight-300);
    --atlas-typescale-display-3-letter-spacing: var(--atlas-font-letter-spacing-neg100);
    --atlas-typescale-display-3-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-display-3-size: var(--atlas-font-size-600);
    --atlas-typescale-display-3-weight: var(--atlas-font-weight-300);
    --atlas-typescale-display-4-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-display-4-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-display-4-size: var(--atlas-font-size-500);
    --atlas-typescale-display-4-weight: var(--atlas-font-weight-300);
    --atlas-typescale-heading-1-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-heading-1-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-heading-1-size: var(--atlas-font-size-400);
    --atlas-typescale-heading-1-weight: var(--atlas-font-weight-600);
    --atlas-typescale-heading-2-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-heading-2-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-heading-2-size: var(--atlas-font-size-350);
    --atlas-typescale-heading-2-weight: var(--atlas-font-weight-600);
    --atlas-typescale-heading-3-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-heading-3-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-heading-3-size: var(--atlas-font-size-300);
    --atlas-typescale-heading-3-weight: var(--atlas-font-weight-600);
    --atlas-typescale-heading-4-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-heading-4-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-heading-4-size: var(--atlas-font-size-250);
    --atlas-typescale-heading-4-weight: var(--atlas-font-weight-600);
    --atlas-typescale-heading-5-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-heading-5-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-heading-5-size: var(--atlas-font-size-200);
    --atlas-typescale-heading-5-weight: var(--atlas-font-weight-600);
    --atlas-typescale-heading-6-letter-spacing: var(--atlas-font-letter-spacing-none);
    --atlas-typescale-heading-6-paragraph-spacing: var(--atlas-font-paragraph-spacing-none);
    --atlas-typescale-heading-6-size: var(--atlas-font-size-175);
    --atlas-typescale-heading-6-weight: var(--atlas-font-weight-600);
}